
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<div class="container">
   <h2>Invoice</h2>
    <div>

        <img src="~/Content/images/Invoice12034.png" />
        
    </div>
</div>