body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron{
    width: 33%;
    right: 20px;
    position: relative;
    text-align: right;
}
img{
    position: fixed;
    width: 100%;
    right: 0px;
    bottom: -150px;
    z-index: -10;
}
.navbar{
    background-color: #428bca;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-nav > li > a{
    color: white;
}

li .dropdown{
     padding-top: 15px;
    padding-bottom: 15px;
}
li .dropdown open{
     padding-top: 15px;
    padding-bottom: 15px;
}

.nav .open > .dropdown-toggle, .nav .open > .dropdown-toggle:hover, .nav .open > .dropdown-toggle:focus {
    background-color: #ffffff;
    color: #428bca;
    padding-bottom: 12px;
}

li .dropdown .dropdown-toggle{
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 0px;
    padding-left: 15px;
}

li .dropdown .dropdown-toggle:hover{
    position: relative;
    text-decoration: none;
    color: #428bca;
    background-color: #ffffff;
    padding-bottom: 12px;

}

.nav .caret{
    margin-right: 15px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #428bca;
    background-color: #ffffff;
    height: 45px;
}

.navbar-inverse {
    border-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 43px;
    right: 20px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 180px;
    padding: 5px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #428bca;
    border: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: none;
    background-clip: padding-box;
}

.dropdown-menu > li > a{
    color: white;
    white-space: normal;
}

.dropdown-menu > li > a:hover{
    color: #428bca;
    background-color: white;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
    margin-top: 0;
    line-height: normal;
    width: 30px;
    height: 30px;
}