@{
    ViewBag.Title = "Home Page";
}
<img src="~/Content/images/pharmLab1.jpg" alt="Alternate Text" />

    <div class="jumbotron">
        <h1>Northwest<br /> Labs</h1>
        @*<p class="lead">Worldwide leader in pharmacuitical testing.</p>*@
        @*<p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    </div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
           
        </div>
        <div class="col-md-4">
           
        </div>
        <div class="col-md-4">
           
        </div>
    </div>
</div>